/* src/pages/Search/Search.css */

/* Adjust the top margin of the header below the navbar */
.search-header {
    height: 50vh;
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url('../../utils/images/nightimage.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    /* Adjust this value based on the actual height of your navbar */
    padding-top: 80px; /* This adds space equivalent to navbar's height */
  }
  
  .navbar {
    z-index: 10; /* Ensure the navbar is on top */
  }
  
  .search-header .container {
    z-index: 2;
  }
  
  .search-page {
    margin-top: 50px; /* Offset for navbar */
  }
  
  .search-page .card {
    border: none;
    border-radius: 0.375rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  .search-page .card:hover {
    transform: scale(1.02);
    transition: transform}